body {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: underline;
}