.blue-bar {
    height: 3px;
    background-color: #007bff;
    margin-top: 40px;
}

@media (min-width: 768px) {
    .blue-bar {
        width: 400px;
    }
}

@media (max-width: 767.98px) {
    .blue-bar {
        width: 150px;
    }
}
